{% extends 'index.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 5fr;
    }
    .topics{
        size: 14px;
    }
</style>

<div class="home-container">
    <div>
        <h2>Browse Topics</h2>
        <hr>

        <div>
            <p class="topics"><a href="{% url 'home' %}">All</a></p>
        </div>

        {% for topic in topics %}
            <div>
                <p class="topics"><a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a></p>
            </div>
        {% endfor %}
    </div>
    <div>
        <h3><a href="{% url 'create-room' %}">Create Room</a></h3>
    <div>
        {% for room in rooms %}
        <div>
            <span>@{{room.host.username}}</span>
            <h4>{{ room.id }} -- <a href="{% url 'room' room.id %}">{{ room.name }}</a></h4>
            <p>{{room.topic.name}}</p>
            <a href="{% url 'update-room' room.id %}">Edit</a>
            <a href="{% url 'delete-room' room.id %}">Delete</a>            
            <hr>
        </div>
        {% endfor %}
    </div>
    </div>    
</div>

{% endblock content %}